.menu_container {
  padding-top: 33px;
  display: flex;
  gap: 40px;
  background-color: white;
  flex-direction: column;
  height: 100vh;
  padding-left: 44px;
  padding-right: 39px;
  border-right: 1px solid #E6EFF5;
}

.menu_logo {
  margin-bottom: 22px;
}
