.form {
  display: flex;
  flex-direction: column;
  max-width: 1110px;

  &_picture-image {
    width: 120px;
    height: 120px;
  }

  .form-grid {
    width: 100%;
    display: grid;
    column-gap: 53px;
    justify-content: flex-start;
    margin: 0 auto;
    grid-template-columns: repeat(2, auto);

    .fields {
      display: grid;
      grid-template-columns: repeat(2, auto);
      column-gap: 29px;
      row-gap: 22px;

      .app-custom-button {
        text-align: end;
        grid-column: 2;
      }
    }
  }
}

@media screen and (max-width: 1404px) {
  .form {
    &_picture {
      grid-column: 2;
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;

    }

    .form-grid {
      grid-template-columns: 1fr 1fr 1fr;
      row-gap: 22px;

      .fields {
        grid-column: 2;
        grid-template-columns: 1fr;

        .app-custom-button {
          grid-column: 1;
        }
      }
    }
  }
}
