<div class="form">
  <div class="form-grid">
    <div class="form_picture">
      <div class="form_picture-image">
        <app-profile-picture [edit]="true" [userImage]="user.image"></app-profile-picture>
      </div>

    </div>

    <div class="fields">
      <custom-input-field label="Your Name" [placeholder]="user.name"></custom-input-field>
      <custom-input-field label="User Name" [placeholder]="user.username"></custom-input-field>
      <custom-input-field label="Email" [placeholder]="user.email" type="email"></custom-input-field>
      <custom-input-field label="Password" [placeholder]="user.password" type="password"></custom-input-field>
      <custom-input-field label="Date of Birth" [value]="user.dob" type="date"></custom-input-field>
      <custom-input-field label="Present Address" [placeholder]="user.address"></custom-input-field>
      <custom-input-field label="Permanent Address" [placeholder]="user.permanentAddress"></custom-input-field>
      <custom-input-field label="City" [placeholder]="user.city"></custom-input-field>
      <custom-input-field label="Postal Code" [placeholder]="user.postalCode"></custom-input-field>
      <custom-input-field label="Country" [placeholder]="user.country"></custom-input-field>
      <app-custom-button label="Save" buttonClass="primary" class="app-custom-button"></app-custom-button>
    </div>
  </div>

</div>
