.header_container {
  .burger_menu {
    display: none;
  }

  width: 100%;
  display: flex;
  justify-content: right;
  padding: 20px 40px;
  align-items: center;
  background-color: #fff;
  column-gap: 30px;

  h1 {
    flex-grow: 1;
  }

  .navigation_elements {
    display: flex;
    align-items: center;
    column-gap: 30px;
  }

  .user_icon {
    height: 60px;
    width: 60px;
  }
}

@media screen and (max-width: 1030px) {
  .header_container {
    flex-wrap: wrap;

    .navigation_element:not(:first-child) {
      display: none;
    }
  }
}

@media screen and (max-width: 877px) {
  .header_container {
    padding: 25px 25px 20px 25px;
  }
}

@media screen and (max-width: 828px) {
  .header_container {
    height: 100%;
    row-gap: 20px;

    & :nth-child(3) {
      order: 3;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

@media screen and (max-width: 572px) {
  .header_container {
    h1 {
      font-size: 20px;
    }

    .user_icon {
      width: 40px;
      height: 40px;
    }
  }
}

@media screen and (max-width: 496px) {
  .header_container {
    .burger_menu {
      display: block;
    }

    h1 {
      text-align: center;
    }
  }
}

@media screen and (max-width: 425px) {
  .header_container .user_icon {
    width: 35px;
    height: 35px;
  }
}
