.header_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  align-items: center;
  height: 100px;
  background-color: #fff;

  .navigation_elements {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  .user_icon {
    height: 60px;
    width: 60px;
  }
}
