.workspace_content {
  background: #fff;
  padding: 37px 30px 30px 30px;
  margin: 30px 40px;
  border-radius: 25px;
}

@media screen and (max-width: 1030px) {
  .workspace_content {
    margin: 25px 25px 0 25px;
  }
}

@media screen and (max-width: 1030px) {
  .workspace_content {
    padding: 22px 20px 25px 20px;
  }
}

@media screen and (max-width: 374px) {
  .workspace_content {
    margin: 12px 12px 0 12px;
    padding: 11px 10px 12px 10px;
  }
}

