.input-field {
  display: flex;
  flex-direction: column;
  gap: 11px;

  label {
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 400;
    color: #232323;
  }

  input {
    height: 50px;
    width: 418px;
    border: 1px solid #DFEAF2;
    border-radius: 15px;
    font-size: 15px;
    font-weight: 400;
    padding: 20px 16px;
    color: #718EBF;
  }
}


