.input-field {
  display: flex;
  flex-direction: column;
  gap: 11px;
  width: 418px;

  label {
    font-size: 16px;
    font-weight: 400;
    color: #232323;
  }

  .input-wrapper {
    position: relative;

    input {
      height: 50px;
      width: 100%;
      border: 1px solid #DFEAF2;
      border-radius: 15px;
      font-size: 15px;
      font-weight: 400;
      padding: 20px 16px;
      color: #718EBF;
    }

    input[type="date"]::-webkit-calendar-picker-indicator {
      opacity: 0;
      position: relative;
      z-index: 1;
    }

    svg {
      width: 14px;
      height: 9px;
      position: absolute;
      right: 22px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

@media screen and (max-width: 512px) {
  .input-field {
    width: 318px;
  }
}

@media screen and (max-width: 472px) {
  .input-field {
    width: 285px;
    gap: 9px;

    label {
      font-size: 13px;
    }

    .input-wrapper {
      input {
        height: 40px;
        border-radius: 10px;
        font-size: 12px;
      }
    }
  }
}

@media screen and (max-width: 374px) {
  .input-field {
    width: 275px;
  }
}

