.menu-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}


.active > .active__menu--item {
  position: absolute;
  height: 60px;
  width: 6px;
  left: -44px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #1814F3;
}

.menu-icon {
  width: 25px;
  height: 25px;
  margin-right: 13px;
}

.menu-title {
  color: #B1B1B1;
  font-weight: 500;
  font-size: 18px;
}

.active {
  color: #1814F3
}
