.icon-button {
  background-color: #F5F7FA;
  border: none;
  cursor: pointer;
  padding: 0;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.icon-button img {
  width: 25px;
  height: 25px;
}
