.tabs {
  display: flex;
  gap: 57px;
  border-bottom: 1px solid #f4f5f7;
  margin-bottom: 52px;

  &_tab {
    flex-shrink: 0;
    font-family: inherit;
    position: relative;
    padding: 0 15px 10px 15px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    color: #718EBF;
    background: none;
    cursor: pointer;
  }


  .tab_active {
    color: #1814F3;

    .tab_active-span {
      display: block;
      position: absolute;
      background-color: #1814F3;
      bottom: 0;
      left: 0;
      height: 3px;
      width: 100%;
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
    }
  }
}

@media screen and (max-width: 768px) {
  .tabs {
    justify-content: space-between;
  }
}

@media screen and (max-width: 515px) {
  .tabs {
    gap: 36px;
  }

  .tab_active {
    .tab_active-span {
      height: 2px;
    }
  }
}

@media screen and (max-width: 472px) {
  .tabs {
    margin-bottom: 25px;
    gap: 16px;

    &_tab {
      font-size: 13px;
      padding: 0 6px 8px 6px;
    }
  }
}




