<app-workspace>
  <div class="tabs">
    <button class="tabs_tab" routerLink="profile" routerLinkActive="tab_active">
      Edit Profile
      <span class="tab_active-span"></span></button>
    <button class="tabs_tab" routerLink="preferences"
            routerLinkActive="tab_active">Preferences
      <span class="tab_active-span"></span>
    </button>
    <button class="tabs_tab" routerLink="security" routerLinkActive="tab_active">
      Security
      <span class="tab_active-span"></span>
    </button>
  </div>
    <router-outlet/>
</app-workspace>
