.profile-picture {
  position: relative;
}

.profile-picture img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.profile-picture .edit-button {
  position: absolute;
  height: 30px;
  width: 30px;
  bottom: 16px;
  right: -2px;
  border: none;
  background: none;
  cursor: pointer;

  img {
    width: 100%;
    height: 100%;
  }
}
